<!doctype html>
	<html lang="es-us">
		<head>
			<meta charset="utf-8">
			<title>.:: Pedralbes Inventario ::.</title>
			<meta name="description" content="">
			<meta name="author" content="Neural Framework">
			<!-- Google Font and style definitions -->
			<!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:regular,bold">-->
			<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/google_css.css">
			
			<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/style.css">
			<!-- include the skins (change to dark if you like) -->
			<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/light/theme.css" id="themestyle">
			<!-- <link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/dark/theme.css" id="themestyle"> -->
			<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/ie.css">
			<![endif]-->
			<!-- Apple iOS and Android stuff -->
			<meta name="apple-mobile-web-app-capable" content="no">
			<meta name="apple-mobile-web-app-status-bar-style" content="black">
			<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
			<!-- Apple iOS and Android stuff - don't remove! -->
			<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1">
			<!-- Use Google CDN for jQuery and jQuery UI -->
			<script src="{{NeuralRutaWebPublico}}/js/jquery.min.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/jquery-ui.min.js"></script>
			<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>-->
			<!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>-->
			<!-- Loading JS Files this way is not recommended! Merge them but keep their order -->
			<!-- some basic functions -->
			<script src="{{NeuralRutaWebPublico}}/js/functions.js"></script>
			<!-- all Third Party Plugins and Whitelabel Plugins -->
			<script src="{{NeuralRutaWebPublico}}/js/plugins.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/editor.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/calendar.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/flot.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/elfinder.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/datatables.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Alert.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Autocomplete.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Breadcrumb.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Calendar.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Chart.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Color.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Date.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Editor.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_File.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Dialog.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Fileexplorer.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Form.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Gallery.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Multiselect.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Number.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Password.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Slider.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Store.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Time.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Valid.js"></script>
			<script src="{{NeuralRutaWebPublico}}/js/wl_Widget.js"></script>
			<!-- configuration to overwrite settings -->
			<script src="{{NeuralRutaWebPublico}}/js/config.js"></script>
			<!-- the script which handles all the access to plugins etc... -->
			<script src="{{NeuralRutaWebPublico}}/js/script.js"></script>
		</head>
		<body>
			<div id="pageoptions">
				{% include 'Basica/Menus/Menu_Superior.html' %}
			</div>
			<header>
				{% include 'Basica/Menus/Widget.html' %}
			</header>
			<nav>
				{% include 'Basica/Menus/Menu_Izquierdo.html' %}
			</nav>
			<section id="content">
				{% block Contenido %}{% endblock %}
			</section>
			<footer>Neural Framework 2013® - Pedralbes 2013 ®</footer>
			
			{% block Script %}{% endblock %}
		</body>
	</html>